*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none; 
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a,a:hover{
    text-decoration: none;
}

.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form-data{
    padding: 20px;
    background-color: aliceblue;
    font-size: 20px;
    width: 350px;
    height: 940px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 3px;
}
input,button,textarea{
    border-style: solid;
    border-radius: 3px;
    height: 40px;
    width: 310px;
    padding: 2px;
    margin-bottom: 10px;
    font-size: 20px;
}
textarea{
    height: 100px;
}
#img{
    border-style: none;
}
button{
    margin-top: 20px;
    background-color: #1c077d;
    color:white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

h3{
    text-align: center;
    padding-bottom: 20px;
}
button:hover{
    transform: scale(1.1);
}
footer{
    background-color: #0a0a96;
    height: 40px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 10px;
}
